# PostgreSQL DB
DATABASE_URL="postgresql://user:password@localhost:5432/event_db?schema=public"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# JWT
JWT_SECRET="your-super-secret-jwt-key"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# App
PORT=3000
NEXT_PUBLIC_API_URL="http://localhost:3000"
